# Geocoding (Nominatim) y rutas (OSRM) no necesitan API key.
EXPO_PUBLIC_SUPABASE_URL=https://bvmzrmvrdbfpkdhwazgv.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_hoI3SjhGRQVY_6svdtRVpg_C6huWIMQ
EXPO_PUBLIC_IMAGE_GEN_API_KEY=